{% load static %}
<html>
<head>
<title>GreenLand</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
 
function validate(){
	var x=document.forms["f1"]["t1"].value;
	
	if(x == null || x==""){
		window.alert("Upload Raw Transaction Land Data");
		document.f1.t1.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow"><font size="4" color="black">GreenLand: A Secure Land Registration Scheme for Blockchain and AI-Enabled Agriculture Industry 5.0</font></center></font>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
		<ul><center>
		<li><a href="{% url 'RequestLand' %}"><font size="4" color="black">Request Land</font></a></font></li>
	   <li><a href="{% url 'ViewRequestStatus' %}"><font size="4" color="black">View Request Status</font></a></font></li>
	    <li><a href="{% url 'index' %}"><font size="4" color="black">Logout</font></a></font></li>		
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'RequestLandAction' %}  enctype="multipart/form-data" OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Request Land Screen by Uploading Raw Transaction Data</b></h3>
   
	<font size="" color="black"><center>{{ data|safe }}</center></font>
						
						<table align="center" width="80" >
			 {{ data1|safe }}
         
		  
		<tr><td><font size="" color="black">Upload&nbsp;Raw&nbsp;Land&nbsp;Transaction</b></td><td><input type="file" name="t1" style="font-family: Comic Sans MS" size="15"/></td></tr>

		 
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
			<br/><br/><br/><br/>
				</div>	
					
				</div>
				
	</body>
</html>