{% load static %}
<html>
<head>
<title>GreenLand</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow"><font size="4" color="black">GreenLand: A Secure Land Registration Scheme for Blockchain and AI-Enabled Agriculture Industry 5.0</font></center></font>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
		<li><a href="{% url 'AcceptReject' %}"><font size="4" color="black">Accept/Reject Land Request</font></a></font></li>
	    <li><a href="{% url 'index' %}"><font size="4" color="black">Logout</font></a></font></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	<font size="3" color="black"><center>{{ data|safe }}</center></font><br/>
		<img src="data:image/png;base64, {{ img }}" alt="" />

	
</body>
</html>
